
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --brand:linear-gradient(270deg, #044281 10%, #8afeee 100%);;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #161513;
    color: white;
    font-family: "outfit";
   
}